.advisorCartList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.advisorCartContainer {
  margin: 2rem;
  /* width: 45%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  color: black;
  text-decoration: none;

}

.advisorCartImgBlock {
  width: 25%;
  padding: 1rem;
}

.advisorCartDetails {
  width: 50%;
  text-align: left;
  padding: 1rem;
}

.advisorCartDetailsLink {
  text-decoration: none;
  /* color: inherit; */
}

.advisorCartImg {
  object-fit: cover;
  border-radius: 50%;
}

.key {
  margin-right: 5px;
  font-weight: 300;
}

.value {
  font-weight: 500;
}

.cartActionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
}

.decreaceBtn {
  color: blue;
  border: 1px solid blue;
  font-size: 1.5rem;
  padding: 0 1rem;
  /* width: 100%; */
}

.advisorMonth {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.increaceBtn {
  color: white;
  background-color: blue;
  border: none;
  font-size: 1.5rem;
  padding: 0 1rem;
}