body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  background-color: #d6d4d4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.spc-around {
  justify-content: space-around;
}

.spc-between {
  justify-content: space-between;
}

.pageHeader {
  margin: 2rem 2rem 0;
}

Form {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  color: black;
  margin: 1rem;
  padding: 1rem;
}

.inputBox {
  margin: 1rem;
}

.formInput {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

.submitBtn {
  color: white;
  background-color: blue;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.btn::hover {
  cursor: pointer;
}